finding missing indusrty from merge.shape2 file and appending it with merge.result

In [1]:
import pandas as pd
import numpy as np

In [2]:
ticker=pd.read_csv('merge_result.csv')
sector=pd.read_csv('merge.shape2.csv')

In [3]:
ticker_arr=np.array(ticker)
sector_arr=np.array(sector)

In [4]:
# printif(type(ticker_arr[2][3])==float):('f')

In [5]:
ticker_arr[2]

array([2, '63MOONS', '63 moons technologies limited', nan, nan, 'EQ',
       '20-Jun-05', 2, 1, 'INE111B01023', 2], dtype=object)

In [6]:
sector_arr[0][3]

'Finance - General'

In [7]:
ticker_arr[0][1]

'20MICRONS'

'EQ'

In [19]:
sector_arr[1][3]

'Computers - Software'

In [8]:
k=0
flag=0
for i in range ((ticker.shape)[0]):
    if type(ticker_arr[i][3]==float):

        for j in range((sector_arr.shape)[0]):
            if ticker_arr[i][1]==sector_arr[j][1]:
                ticker_arr[i][3]=sector_arr[j][3]

In [9]:
ticker_arr=pd.DataFrame(ticker_arr)

In [10]:
ticker_arr.head()

,0,1,2,3,4,5,6,7,8,9,10
0,0,20MICRONS,20 Microns Limited,Miscellaneous,Mining/Minerals,EQ,06-Oct-08,5,1,INE144J01027,5
1,1,3MINDIA,3M India Limited,Packaging,Diversified,EQ,13-Aug-04,10,1,INE470A01017,10
2,2,63MOONS,63 moons technologies limited,Computers - Software,NaN,EQ,20-Jun-05,2,1,INE111B01023,2
3,3,A2ZINFRA,A2Z Infra Engineering Limited,Infrastructure - General,Engineering - General,EQ,23-Dec-10,10,1,INE619I01012,10
4,4,AARTIDRUGS,Aarti Drugs Limited,Chemicals,Pharmaceuticals,EQ,19-Sep-03,10,1,INE767A01016,10

In [11]:
ticker_arr=np.array(ticker_arr)

In [12]:
k=0
flag=0
for i in range ((ticker.shape)[0]):
    if type(ticker_arr[i][4]==float):
        ticker_arr[i][4]=ticker_arr[i][3]

In [13]:
ticker_arr=pd.DataFrame(ticker_arr)

In [14]:
ticker_arr.to_csv('final_merge.csv')