merging headlines,historical data,sentiment analysis with the dataset i.e. final dataset preperation

In [15]:
from urllib.request import urlopen, Request
import pandas as pd
import numpy as np
import pandas_datareader as pdr
import matplotlib.pyplot as plt
from bs4 import BeautifulSoup
import nltk
from nltk.sentiment.vader import SentimentIntensityAnalyzer
import pandas_datareader as pdr
import datetime as dt
from datetime import datetime

In [16]:
merge=pd.read_csv('final_merge.csv')
merge_arr=np.array(merge)

In [17]:
iden=pd.read_csv('identification.csv')
iden_arr=np.array(iden)

In [18]:
merge.head()

,Unnamed: 0,0,1,2,3,4,5,6,7,8,9,10
0,0,0,20MICRONS,20 Microns Limited,Miscellaneous,Miscellaneous,EQ,06-Oct-08,5,1,INE144J01027,5
1,1,1,3MINDIA,3M India Limited,Packaging,Packaging,EQ,13-Aug-04,10,1,INE470A01017,10
2,2,2,63MOONS,63 moons technologies limited,Computers - Software,Computers - Software,EQ,20-Jun-05,2,1,INE111B01023,2
3,3,3,A2ZINFRA,A2Z Infra Engineering Limited,Infrastructure - General,Infrastructure - General,EQ,23-Dec-10,10,1,INE619I01012,10
4,4,4,AARTIDRUGS,Aarti Drugs Limited,Chemicals,Chemicals,EQ,19-Sep-03,10,1,INE767A01016,10

In [19]:
iden.head()

,Unnamed: 0,date,headlines,ticker,company
0,13,2022-10-31,GHCL reports Q2 earnings.\n \n⭕️N...,GHCL,GHCL Limited
1,30,2022-10-31,HFCL gets approval for application under produ...,HFCL,HFCL Limited
2,49,2022-11-01,"UPL gross debt as of September 30 at ₹32,550 c...",UPL,UPL Limited
3,72,2022-11-01,VSSL reports Q2 earnings.\n\n⭕️Net profit up 1...,VSSL,Vardhman Special Steels Limited
4,155,2022-11-04,HIL reports #Q2 results. \n\n▶️Net loss at ₹6....,HIL,HIL Limited

In [20]:
iden_arr[45][3]

'SPARC'

In [21]:
merge_arr[0][2]

'20MICRONS'

In [22]:
merge_arr[0:2]

array([[0, 0, '20MICRONS', '20 Microns Limited', 'Miscellaneous',
        'Miscellaneous', 'EQ', '06-Oct-08', 5, 1, 'INE144J01027', 5],
       [1, 1, '3MINDIA', '3M India Limited', 'Packaging', 'Packaging',
        'EQ', '13-Aug-04', 10, 1, 'INE470A01017', 10]], dtype=object)

In [23]:
ans=[]

In [24]:
for i in range((iden_arr.shape)[0]):
    for j in range((merge_arr.shape)[0]):
        if(iden_arr[i][3]==merge_arr[j][2]):
            ans.append([iden_arr[i][0],iden_arr[i][1],iden_arr[i][2],iden_arr[i][3],iden_arr[i][4],merge_arr[j][4],merge_arr[j][5],merge_arr[j][6],
            merge_arr[j][7],merge_arr[j][8],merge_arr[j][9],merge_arr[j][10],merge_arr[j][11]])

In [25]:
merge.head()

,Unnamed: 0,0,1,2,3,4,5,6,7,8,9,10
0,0,0,20MICRONS,20 Microns Limited,Miscellaneous,Miscellaneous,EQ,06-Oct-08,5,1,INE144J01027,5
1,1,1,3MINDIA,3M India Limited,Packaging,Packaging,EQ,13-Aug-04,10,1,INE470A01017,10
2,2,2,63MOONS,63 moons technologies limited,Computers - Software,Computers - Software,EQ,20-Jun-05,2,1,INE111B01023,2
3,3,3,A2ZINFRA,A2Z Infra Engineering Limited,Infrastructure - General,Infrastructure - General,EQ,23-Dec-10,10,1,INE619I01012,10
4,4,4,AARTIDRUGS,Aarti Drugs Limited,Chemicals,Chemicals,EQ,19-Sep-03,10,1,INE767A01016,10

In [26]:
iden.head()

,Unnamed: 0,date,headlines,ticker,company
0,13,2022-10-31,GHCL reports Q2 earnings.\n \n⭕️N...,GHCL,GHCL Limited
1,30,2022-10-31,HFCL gets approval for application under produ...,HFCL,HFCL Limited
2,49,2022-11-01,"UPL gross debt as of September 30 at ₹32,550 c...",UPL,UPL Limited
3,72,2022-11-01,VSSL reports Q2 earnings.\n\n⭕️Net profit up 1...,VSSL,Vardhman Special Steels Limited
4,155,2022-11-04,HIL reports #Q2 results. \n\n▶️Net loss at ₹6....,HIL,HIL Limited

In [27]:
ans=pd.DataFrame(ans,columns=["sno","DATE","HEADLINE","TICKER","COMPANY NAME","SECTOR","SUBSECTOR","SERIES","DATE OF LISTING","PAID UP VALUE","MARKET LOT","ISIN NUMBER","FACE VALUE"])

In [28]:
ans.head()

,sno,DATE,HEADLINE,TICKER,COMPANY NAME,SECTOR,SUBSECTOR,SERIES,DATE OF LISTING,PAID UP VALUE,MARKET LOT,ISIN NUMBER,FACE VALUE
0,13,2022-10-31,GHCL reports Q2 earnings.\n \n⭕️N...,GHCL,GHCL Limited,Chemicals,Chemicals,EQ,31-Jul-03,10,1,INE539A01019,10
1,30,2022-10-31,HFCL gets approval for application under produ...,HFCL,HFCL Limited,Telecommunications - Equipment,Telecommunications - Equipment,EQ,09-Mar-11,1,1,INE548A01028,1
2,49,2022-11-01,"UPL gross debt as of September 30 at ₹32,550 c...",UPL,UPL Limited,Chemicals,Chemicals,EQ,23-Jan-04,2,1,INE628A01036,2
3,72,2022-11-01,VSSL reports Q2 earnings.\n\n⭕️Net profit up 1...,VSSL,Vardhman Special Steels Limited,NaN,NaN,EQ,17-May-12,10,1,INE050M01012,10
4,155,2022-11-04,HIL reports #Q2 results. \n\n▶️Net loss at ₹6....,HIL,HIL Limited,Cement - Products & Building Materials,Cement - Products & Building Materials,EQ,26-Apr-95,10,1,INE557A01011,10

In [29]:
ans.to_csv('dataset.csv')

In [108]:
df=pd.read_csv('dataset.csv')

In [109]:
df.head()

(158, 14)

appending historical data with the dataset

In [110]:
date=df.DATE.values

In [111]:
ticker=df.TICKER.values

In [112]:
len(ticker)

158

In [35]:
import yfinance as yfin
from pandas_datareader import data as pdr

In [36]:
def historic(name,date):
     x=date+dt.timedelta(5)
     y=date-dt.timedelta(15)
     yfin.pdr_override()
     try:
        stock=df=pdr.get_data_yahoo(name+'.NS',start=y,end=x)
     except:
        try:
            stock=df=pdr.get_data_yahoo(name+'.BO',start=y,end=x)
        except:
            try:
                stock=df=pdr.get_data_yahoo(name,start=y,end=x)
            except:
                arr=[0,0,0,0,0,0,0,0,0,0,0,0,'unknown']
                return(arr)
     i=0
     arr=[]
     stock=stock.reset_index()
     stock_arr=np.array(stock)
     datess=stock.Date.values
     for i in range(len(datess)):
         if(date>=datess[i]):
             continue
         else: 
            break
     avg1=0
     avg2=0
     avg3=0
     avg4=0
     avg5=0
     avg6=0
     for j in range(i-6,i):
        avg1=avg1+stock_arr[j][1]
        avg2=avg2+stock_arr[j][2]
        avg3=avg3+stock_arr[j][3]
        avg4=avg4+stock_arr[j][4]
        avg5=avg5+stock_arr[j][5]
        avg6=avg6+stock_arr[j][6]
     if(stock_arr[i][4]<stock_arr[i-1][4]):
        res="bearish"
     else:
        res="bullish"
    
     arr.append([stock_arr[i-1][1],stock_arr[i-1][2],stock_arr[i][3],stock_arr[i-1][4],stock_arr[i-1][5],stock_arr[i-1][6],avg1/5,avg2/5,avg3/5,avg4/5,avg5/5,avg6/5,res])
     return(arr)

In [37]:
his_data=[]

for i in range(len(date)):
     
    ts=pd.to_datetime(date[i])
    his_data.append(historic(ticker[i],ts))
    print(i)

[*********************100%***********************]  1 of 1 completed
0
[*********************100%***********************]  1 of 1 completed
1
[*********************100%***********************]  1 of 1 completed
2
[*********************100%***********************]  1 of 1 completed
3
[*********************100%***********************]  1 of 1 completed
4
[*********************100%***********************]  1 of 1 completed
5
[*********************100%***********************]  1 of 1 completed
6
[*********************100%***********************]  1 of 1 completed
7
[*********************100%***********************]  1 of 1 completed
8
[*********************100%***********************]  1 of 1 completed
9
[*********************100%***********************]  1 of 1 completed
10
[*********************100%***********************]  1 of 1 completed
11
[*********************100%***********************]  1 of 1 completed
12
[*********************100%***********************]  1 of 1 completed
13
[*********************100%***********************]  1 of 1 completed
14
[*********************100%***********************]  1 of 1 completed
15
[*********************100%***********************]  1 of 1 completed
16
[*********************100%***********************]  1 of 1 completed
17
[*********************100%***********************]  1 of 1 completed
18
[*********************100%***********************]  1 of 1 completed
19
[*********************100%***********************]  1 of 1 completed
20
[*********************100%***********************]  1 of 1 completed
21
[*********************100%***********************]  1 of 1 completed
22
[*********************100%***********************]  1 of 1 completed
23
[*********************100%***********************]  1 of 1 completed
24
[*********************100%***********************]  1 of 1 completed
25
[*********************100%***********************]  1 of 1 completed
26
[*********************100%***********************]  1 of 1 completed
27
[*********************100%***********************]  1 of 1 completed
28
[*********************100%***********************]  1 of 1 completed
29
[*********************100%***********************]  1 of 1 completed
30
[*********************100%***********************]  1 of 1 completed
31
[*********************100%***********************]  1 of 1 completed
32
[*********************100%***********************]  1 of 1 completed
33
[*********************100%***********************]  1 of 1 completed
34
[*********************100%***********************]  1 of 1 completed
35
[*********************100%***********************]  1 of 1 completed
36
[*********************100%***********************]  1 of 1 completed
37
[*********************100%***********************]  1 of 1 completed
38
[*********************100%***********************]  1 of 1 completed
39
[*********************100%***********************]  1 of 1 completed
40
[*********************100%***********************]  1 of 1 completed
41
[*********************100%***********************]  1 of 1 completed
42
[*********************100%***********************]  1 of 1 completed
43
[*********************100%***********************]  1 of 1 completed
44
[*********************100%***********************]  1 of 1 completed
45
[*********************100%***********************]  1 of 1 completed
46
[*********************100%***********************]  1 of 1 completed
47
[*********************100%***********************]  1 of 1 completed
48
[*********************100%***********************]  1 of 1 completed
49
[*********************100%***********************]  1 of 1 completed
50
[*********************100%***********************]  1 of 1 completed
51
[*********************100%***********************]  1 of 1 completed
52
[*********************100%***********************]  1 of 1 completed
53
[*********************100%***********************]  1 of 1 completed
54
[*********************100%***********************]  1 of 1 completed
55
[*********************100%***********************]  1 of 1 completed
56
[*********************100%***********************]  1 of 1 completed
57
[*********************100%***********************]  1 of 1 completed
58
[*********************100%***********************]  1 of 1 completed
59
[*********************100%***********************]  1 of 1 completed
60
[*********************100%***********************]  1 of 1 completed
61
[*********************100%***********************]  1 of 1 completed
62
[*********************100%***********************]  1 of 1 completed
63
[*********************100%***********************]  1 of 1 completed
64
[*********************100%***********************]  1 of 1 completed
65
[*********************100%***********************]  1 of 1 completed
66
[*********************100%***********************]  1 of 1 completed
67
[*********************100%***********************]  1 of 1 completed
68
[*********************100%***********************]  1 of 1 completed
69
[*********************100%***********************]  1 of 1 completed
70
[*********************100%***********************]  1 of 1 completed
71
[*********************100%***********************]  1 of 1 completed
72
[*********************100%***********************]  1 of 1 completed
73
[*********************100%***********************]  1 of 1 completed
74
[*********************100%***********************]  1 of 1 completed
75
[*********************100%***********************]  1 of 1 completed
76
[*********************100%***********************]  1 of 1 completed
77
[*********************100%***********************]  1 of 1 completed
78
[*********************100%***********************]  1 of 1 completed
79
[*********************100%***********************]  1 of 1 completed
80
[*********************100%***********************]  1 of 1 completed
81
[*********************100%***********************]  1 of 1 completed
82
[*********************100%***********************]  1 of 1 completed
83
[*********************100%***********************]  1 of 1 completed
84
[*********************100%***********************]  1 of 1 completed
85
[*********************100%***********************]  1 of 1 completed
86
[*********************100%***********************]  1 of 1 completed
87
[*********************100%***********************]  1 of 1 completed
88
[*********************100%***********************]  1 of 1 completed
89
[*********************100%***********************]  1 of 1 completed
90
[*********************100%***********************]  1 of 1 completed
91
[*********************100%***********************]  1 of 1 completed
92
[*********************100%***********************]  1 of 1 completed
93
[*********************100%***********************]  1 of 1 completed
94
[*********************100%***********************]  1 of 1 completed
95
[*********************100%***********************]  1 of 1 completed
96
[*********************100%***********************]  1 of 1 completed
97
[*********************100%***********************]  1 of 1 completed
98
[*********************100%***********************]  1 of 1 completed
99
[*********************100%***********************]  1 of 1 completed
100
[*********************100%***********************]  1 of 1 completed
101
[*********************100%***********************]  1 of 1 completed
102
[*********************100%***********************]  1 of 1 completed
103
[*********************100%***********************]  1 of 1 completed
104
[*********************100%***********************]  1 of 1 completed
105
[*********************100%***********************]  1 of 1 completed
106
[*********************100%***********************]  1 of 1 completed
107
[*********************100%***********************]  1 of 1 completed
108
[*********************100%***********************]  1 of 1 completed
109
[*********************100%***********************]  1 of 1 completed
110
[*********************100%***********************]  1 of 1 completed
111
[*********************100%***********************]  1 of 1 completed
112
[*********************100%***********************]  1 of 1 completed
113
[*********************100%***********************]  1 of 1 completed
114
[*********************100%***********************]  1 of 1 completed
115
[*********************100%***********************]  1 of 1 completed
116
[*********************100%***********************]  1 of 1 completed
117
[*********************100%***********************]  1 of 1 completed
118
[*********************100%***********************]  1 of 1 completed
119
[*********************100%***********************]  1 of 1 completed
120
[*********************100%***********************]  1 of 1 completed
121
[*********************100%***********************]  1 of 1 completed
122
[*********************100%***********************]  1 of 1 completed
123
[*********************100%***********************]  1 of 1 completed
124
[*********************100%***********************]  1 of 1 completed
125
[*********************100%***********************]  1 of 1 completed
126
[*********************100%***********************]  1 of 1 completed
127
[*********************100%***********************]  1 of 1 completed
128
[*********************100%***********************]  1 of 1 completed
129
[*********************100%***********************]  1 of 1 completed
130
[*********************100%***********************]  1 of 1 completed
131
[*********************100%***********************]  1 of 1 completed
132
[*********************100%***********************]  1 of 1 completed
133
[*********************100%***********************]  1 of 1 completed
134
[*********************100%***********************]  1 of 1 completed
135
[*********************100%***********************]  1 of 1 completed
136
[*********************100%***********************]  1 of 1 completed
137
[*********************100%***********************]  1 of 1 completed
138
[*********************100%***********************]  1 of 1 completed
139
[*********************100%***********************]  1 of 1 completed
140
[*********************100%***********************]  1 of 1 completed
141
[*********************100%***********************]  1 of 1 completed
142
[*********************100%***********************]  1 of 1 completed
143
[*********************100%***********************]  1 of 1 completed
144
[*********************100%***********************]  1 of 1 completed
145
[*********************100%***********************]  1 of 1 completed
146
[*********************100%***********************]  1 of 1 completed
147
[*********************100%***********************]  1 of 1 completed
148
[*********************100%***********************]  1 of 1 completed
149
[*********************100%***********************]  1 of 1 completed
150
[*********************100%***********************]  1 of 1 completed
151
[*********************100%***********************]  1 of 1 completed
152
[*********************100%***********************]  1 of 1 completed
153
[*********************100%***********************]  1 of 1 completed
154
[*********************100%***********************]  1 of 1 completed
155
[*********************100%***********************]  1 of 1 completed
156
[*********************100%***********************]  1 of 1 completed
157

In [38]:
his_data[1][0]

[77.9000015258789,
 83.4000015258789,
 81.75,
 82.69999694824219,
 82.69999694824219,
 42534639,
 94.30000152587891,
 96.78999938964844,
 93.21999969482422,
 94.78999938964844,
 94.78999938964844,
 17877690.6,
 'bullish']

In [39]:
a=[]

In [40]:
for i in range(len(his_data)):
    a.append(his_data[i][0])

In [41]:
hello=pd.DataFrame()

In [42]:
type(his_data)

list

In [43]:

hello=pd.DataFrame(a,columns=["High","Low","Open","close","volume","adj close","avg High","avg low","avg open","avg close","avg volume","avg adj close","trend"])

In [113]:
hello.shape

(158, 13)

In [114]:
df.shape

(158, 14)

In [115]:
df.shape

(158, 14)

In [116]:
vader=SentimentIntensityAnalyzer()
f=lambda title:vader.polarity_scores(title)['neg']
df['negative_score']=df['HEADLINE'].apply(f)

In [117]:
vader=SentimentIntensityAnalyzer()
f=lambda title:vader.polarity_scores(title)['pos']
df['positive_score']=df['HEADLINE'].apply(f)

In [118]:
vader=SentimentIntensityAnalyzer()
f=lambda title:vader.polarity_scores(title)['neu']
df['neutral_score']=df['HEADLINE'].apply(f)

In [119]:
vader=SentimentIntensityAnalyzer()
f=lambda title:vader.polarity_scores(title)['compound']
df['compound_score']=df['HEADLINE'].apply(f)

In [120]:
df.shape

(158, 18)

In [122]:
final = pd.concat([df, hello], join = 'outer', axis = 1)

In [123]:
final.shape

(158, 31)

In [124]:
final.shape

(158, 31)

In [125]:
final.head()

,Unnamed: 0,sno,DATE,HEADLINE,TICKER,COMPANY NAME,SECTOR,SUBSECTOR,SERIES,DATE OF LISTING,...,close,volume,adj close,avg High,avg low,avg open,avg close,avg volume,avg adj close,trend
0,0,13,2022-10-31,GHCL reports Q2 earnings.\n \n⭕️N...,GHCL,GHCL Limited,Chemicals,Chemicals,EQ,31-Jul-03,...,646.549988,646.549988,889946,796.040002,802.829993,778.599988,786.489990,786.489990,392675.2,bearish
1,1,30,2022-10-31,HFCL gets approval for application under produ...,HFCL,HFCL Limited,Telecommunications - Equipment,Telecommunications - Equipment,EQ,09-Mar-11,...,82.699997,82.699997,42534639,94.300002,96.789999,93.220000,94.789999,94.789999,17877690.6,bullish
2,2,49,2022-11-01,"UPL gross debt as of September 30 at ₹32,550 c...",UPL,UPL Limited,Chemicals,Chemicals,EQ,23-Jan-04,...,717.000000,717.000000,5060223,856.930005,864.200012,843.100000,854.020007,854.020007,3122374.4,bullish
3,3,72,2022-11-01,VSSL reports Q2 earnings.\n\n⭕️Net profit up 1...,VSSL,Vardhman Special Steels Limited,NaN,NaN,EQ,17-May-12,...,259.000000,259.000000,18757,316.089996,322.610010,309.289990,315.379999,315.379999,68867.8,bearish
4,4,155,2022-11-04,HIL reports #Q2 results. \n\n▶️Net loss at ₹6....,HIL,HIL Limited,Cement - Products & Building Materials,Cement - Products & Building Materials,EQ,26-Apr-95,...,2787.949951,2787.949951,38924,3466.750049,3517.279980,3408.360010,3433.799951,3433.799951,17225.6,bearish

In [126]:
final.to_csv('final_train_dataset.csv')